/* HEADER */
.header {
  background-color: #353A40;
}

.logo {
  width: 7rem;
  height: 7rem;
}

.input-group {
  width: 80%;
}

.form-control {
  font-size: 1rem;
  color: #353A40 !important;
}

.list-group-item {
  font-size: 1rem;
  font-weight: bold;
  color: #353A40 !important;
}

/* NAVBAR */
.clientMenu a {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white !important;
}

.clientMenu {
  transition: 1s;
}

.clientMenu:hover:nth-child(1) {
  background-color: #FE0000;
}

.clientMenu:hover:nth-child(2) {
  background-color: #33CC33;
}

.clientMenu:hover:nth-child(3) {
  background-color: #FF0066;
}

.clientMenu:hover:nth-child(4) {
  background-color: #E2A00C;
}

.clientMenu:hover:nth-child(5) {
  background-color: #FE0000;
}

.navbar {
  padding-bottom: 0.1%;
}

.icones {
  width: 50px !important;
  height: 50px !important;
}

.btnSearch {
  border: 1 solid black;
  border-radius: 5px;
}

@media (min-width: 768px) and (max-width: 999px) {
  .nome {
    margin-bottom: 2rem;
  }
}

@media (max-width: 767px) {
  .search {
    margin: 2rem;
  }

  .nome {
    margin-bottom: 2rem;
  }
}
