<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
</head>

<body>

    <h2>Registrar usuario<h2>
    <form action="/insertUser" method="POST">
        <input type="text" placeholder="Nome" name="nome">
        <input type="text" placeholder="Sobrenome" name="sobrenome">
        <input type="text" placeholder="Email" name="email">
        <button type="submit">Submit</button>
    </form>

    <h2>Registrar Post<h2>
    <form action="/insertPost" method="POST">
        <input type="text" placeholder="Titulo" name="titulo">
        <input type="text" placeholder="Texto" name="body">
        <input type="text" placeholder="Data" name="data">
        <input type="text" placeholder="User ID" name="id">
        <button type="submit">Submit</button>
    </form>

    <h2>Registrar Comentário<h2>
    <form action="/insertComment" method="POST">
        <input type="text" placeholder="Titulo" name="titulo">
        <input type="text" placeholder="Texto" name="body">
        <input type="text" placeholder="Email" name="email">
        <input type="text" placeholder="Post ID" name="id">
        <button type="submit">Submit</button>
    </form>

    <h2>Ler posts<h2></h2>
    <form action="/getPost">
        <button type="submit">Submit</button>
    </form>

    <h2>Atualizar Post<h2>
    <form action="/updatePost" method="POST">
        <input type="text" placeholder="Titulo" name="tituloAtt">
        <input type="text" placeholder="Texto" name="bodyAtt">
        <input type="text" placeholder="Data" name="dataAtt">
        <input type="text" placeholder="id do post" name="idAtt">
        <button type="submit">Submit</button>
    </form>

    <h2>Atualizar Comentário<h2>
    <form action="/updateComment" method="POST">
        <input type="text" placeholder="Titulo" name="tituloAtt">
        <input type="text" placeholder="Texto" name="bodyAtt">
        <input type="text" placeholder="email" name="emailAtt">
        <input type="text" placeholder="id do comentário" name="idAtt">
        <button type="submit">Submit</button>
    </form>

    <h2>Excluir comentario<h2></h2>
    <form action="/deleteComment" method="POST">
        <input type="text" placeholder="id do comentario" name="idDelete">
        <button type="submit">Submit</button>
    </form>

    <h2>Excluir post<h2></h2>
    <form action="/deletePost" method="POST">
        <input type="text" placeholder="id do post" name="idDeletePost">
        <button type="submit">Submit</button>
    </form>
</body>

</html>