/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';

app-root {
  font-family: 'Roboto', sans-serif;
}

.custom-pagination /deep/ .ngx-pagination .current {
  background: #353A40;
  border-radius: 4px;
}
