<div class="footer d-flex flex-row justify-content-center align-items-center p-2">
  <div class="restricao text-center col-4">
    <div class="col">
      <img src="../../assets/icon/menores-18.png" class="icon">
    </div>
    <div class="col">
      <span>
        Venda proibida para menores de 18 anos<br>
        Beba com moderação
      </span>
    </div>
  </div>
  <div class="info text-center col-4">
    <span>
      Todos os itens do site estão sujeitos a disponibilidade do estoque<br>
      Vendas sujeitas à análise e confirmação de dados<br>
      LiquorStore © 2019 - Todos os direitos reservados
    </span>
  </div>
  <div class="social-media col-4">
    <a class="fa fa-facebook-square p-2" target="_blank" href="https://www.facebook.com/otavio.palma"></a>
    <a class="fa fa-twitter-square p-2" target="_blank" href="https://www.twitter.com/PalmaOtavio"></a>
    <a class="fa fa-linkedin p-2" target="_blank" href="https://www.linkedin.com/in/otavio-p-399369119/"></a>
    <a class="fa fa-github-square p-2" target="_blank" href="https://www.github.com/OtavioPalma"></a>
  </div>
</div>
