<div class="mt-5 container text-justify" [@animate]="currentState">
  <div class="row mb-3">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <h1>Quem somos</h1>
      <p>
        Somos um e-commerce de bebidas alcoólicas que disponibiliza produtos de todos os cantos do Brasil. Fundada em
        2019
        por <b>Otávio Messias Palma</b>, <b>Marcos Vinícius Moreira</b> e <b>João Victor Castro</b> a Liquor Store chega
        inovando no ramo de vendas online com um site moderno e funcional.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <img src="../../assets/img/cerveja-home.png" class="img-fluid img-thumbnail">
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-lg-5 col-md-12 col-sm-12 d-flex align-items-center">
      <img src="../../assets/img/cachaca-home.png" class="align-middle img-fluid img-thumbnail">
    </div>
    <div class="col-lg-7 col-md-12 col-sm-12">
      <h1>Funcionalidades</h1>
      <p>
        A Liquor Store proporciona diferentes funcionalidades para admnistrador e cliente. Os administradores podem
        adicionar produtos de forma rápida e prática, selecionando-os nas categorias disponibilizadas. A criação de
        promoções também é feita de forma muito intuitiva e os itens selecionados recebem destaque perante os outros
        durante
        o período da promoção.<br>
        Os clientes podme criar sua conta em apenas 2 cliques, preenchendo informações que são relevantes para a loja
        como
        endereço de entrega e dados pessoais e ja passam a navegar pelo sistema para comprar os produtos que lhe
        interessarem. Um histórico permite que o cliente veja tudo o que foi comprado e possa realizar a compra
        novamente
        (caso haja estoque).
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <h1>Objetivos</h1>
      <p>
        A Liquor Store tem como principal objetivo a satisfação do cliente seja através de preços competitivos, site
        moderno, promoções diárias ou produtos de quaidade. O cliente deve se sentir a vontade para navegar no site sem
        problemas e deve comprar o que lhe for conveniente sem que o sistema apresente falhas.<br>
        Seja bem-vindo a Liquor Store e aproveite sua "estadia", caso hajam dúvidas ou erros sinta-se livre para nos
        contatar.
      </p>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <img src="../../assets/img/pinga-home.png" class="img-fluid img-thumbnail">
    </div>
  </div>
</div>
