.button-end {
    position: relative;
    margin-left: 80%;
  }

.button{
  border: none;
  background: transparent;
}

.editHover {
  transition: 0.5s;
}

.deleteHover {
  transition: 0.5s;
}

.editHover:hover {
  color: green;
}

.deleteHover:hover {
  color: red;
}
