<div class="container p-3">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="row">
      <div class="offset-2 col-2">
        <h1>Login</h1>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-4 offset-2">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="usu_email"
          [ngClass]="{ 'is-invalid': submitted && form.usu_email.errors }">
        <div *ngIf="submitted && form.usu_email.errors" class="invalid-feedback">
          <div *ngIf="form.usu_email.errors.required">O email é obrigatório</div>
          <div *ngIf="form.usu_email.errors.invalid">Email ou senha incorretos</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-4 offset-2">
        <label>Senha</label>
        <input type="password" class="form-control" formControlName="usu_senha"
          [ngClass]="{ 'is-invalid': submitted && form.usu_senha.errors }">
        <div *ngIf="submitted && form.usu_senha.errors" class="invalid-feedback">
          <div *ngIf="form.usu_senha.errors.required">A senha é obrigatória</div>
        </div>
        <div *ngIf="submitted && form.usu_senha.errors" class="invalid-feedback">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-2">
        <button class="btn btn-primary">Entrar</button>
      </div>
    </div>
  </form>
</div>
